


.sliders {
    display: inline;
  padding:10px;
  border:1px;;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:6px;
   width: 60px;
   margin-right: 40px;
   font-size: 15pt;

}

.sliders:focus {
    outline: none;
}

input:required {
    box-shadow:none;
}

input:invalid {
    outline: none;
}